.announcement {
  display: block;
  text-align: center;
  width: 100%;
  padding: 6px;
  background-color: var(--base-100, hsl(0 0 90);
  border: 1px solid var(--base-200, hsl(0 0 80);
  border-left: 0;
  border-right: 0;
}
